<div id="search-component" class='component-wrapper'>
  <h4>Character Search</h4>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <div class="item-container search-result">
    <div *ngFor="let character of characters$ | async" >
      <app-character-card [character]='character'></app-character-card>
    </div>
    <div *ngFor="let character of characters" >
      <app-character-card [character]='character'></app-character-card>
    </div>
  </div>

  <button *ngIf='hasNext' mat-raised-button color="primary" (click)='loadMore()'>Load more</button>

</div>
